.fira-sans-regular {
    font-family: "Fira Sans", serif;
    
    
  }
.main-body{
    background-color: rgba(241, 241, 243, 1);
}


/* header */

.title{
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    align-items: center;
    margin-bottom: 20px;
}
.main-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.sign{
    border-color:#006A50 ;
    width: 116px;
    height: 52px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: none;
}
.sign:hover{
    background-color: #f10909;
}
/* banner */
.banner-title{
   
    padding-top: 117px;
    padding-bottom: 117px;
    padding-left: 59px;
}
.banner-subtitle{
    font-weight: 400;
    font-size: 24px;
    color:rgba(14, 14, 14, 0.5);
}
.banner .banner-main-title{
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: ;

}
.banner-button{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    
    
}
.banner-button:hover{
    background-color: #f10909;
}
.banner-img{
    width: 474px;
    height: 400px;
    padding: 80px 59px 80px 0px;
}
.banner{
   
    display: flex;
    margin:0 auto ;
    background-color:#C6E4D6 ;
    margin-bottom: 80px;
    gap: 64px;
    border-radius: 24px;
    margin-left: 160px;
    margin-right: 160px;
    align-items: center;
}
/* vision */
.vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.vision-description{
    color:rgba(14, 14, 14, 0.7) ;
    font-size: 16px;
    margin-bottom: 32px;
}
.vision{
    margin-left: 160px;
    margin-right: 160px;
    
}
/* cards */
.digital-title{
    font-weight: bold;
    font-size: 20px;
}
.digital-description{
    font-size: 16px;
    font-weight:400;
}
.card-image{
    width: 64px;
    height: 64px;
}
.digital-button{
    background-color: #5490F5;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    width: 122px; 
    height: 41px;
    border-radius: 11px;
    border: none;
}
.digital-button:hover{
    background-color: #f10909;
}
.card-one{
    background-color:rgba(84, 144, 245, 0.2) ;
    width: 410px;
   
    padding: 32px;
    border-radius: 16px;
}
.card-two .digital-button-two{
    background-color: rgba(9, 161, 92, 1);
    border: none;
}
.digital-button-two:hover{
    background-color: #f10909;
}
.digital-button-three{
    background-color: rgba(255, 194, 57, 1);
    border: none;
}
.digital-button-three:hover{
    background-color: #f10909;
}
.card-two{
    background-color:rgba(198, 228, 214, 1) ;
    width: 410px;
   
    padding: 32px;
    border-radius: 16px;


}
.card-three{
    background-color: rgba(247, 235, 207, 1);
    width: 410px;
   
    padding: 32px;
    border-radius: 16px;
}
.cards{
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    
}
/* recent news */
.recent-image{
    width: 408px;
    height: 306px;
   
    padding: 48px 0px 48px 48px;
    
    
}
.satelite-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 12px;
}
.aljazeera{
    width: 134px;
    
    margin-bottom: 12px;
}
.time,.date{
    font-size: 16px;
    font-weight: 400;
    color:rgba(14, 14, 14, 0.7);
}
.date-time{
    display: flex;
    gap: 12px;
}
.read-more{
    background-color: #006A50;
    width: 139px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    margin-top: px;
}
.read-more:hover{
    background-color: #f10909;
}
.launch-satelite{
    display: flex;
    gap: 32px;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 24px;
    
}
.satelite{
    width: 744px;
    
   padding: 56px 48px 56px 0px;
    
}
.news{
    margin-left: 160px;
    margin-right: 160px; 
    
}
.recent-image img{
    border-radius: 24px;

}
.satelite-description{
    margin-bottom: 10px;
}
.flip-image{
    padding: 48px 48px 48px 0px;
}
.flip-satelite{
    padding: 56px 0px 56px 48px;
}
